<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <parameter name="browser" value="firefox"  />
    <parameter name="username" value="admin@example.com"/>
    <parameter name="password" value="admin"/>
    <test name="Login Test" >
        <classes>
            <class name="course.selenium.tests.GetSaleor.LoginTest" />
        </classes>
    </test>
    <test name="Search Test" >
        <classes>
            <class name="course.selenium.tests.GetSaleor.SearchProductTest" />
        </classes>
    </test>
    <test name="Add to Cart Test" >
        <classes>
            <class name="course.selenium.tests.GetSaleor.AddToCartTest" />
        </classes>
    </test>
</suite>
